.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 300ms;

    width: 74px;
    background: #fff;
    /* position: absolute; */
    height: 100vh;
}

.sidebar.active {
    width: 250px;
    /* position: unset; */
    /* height: 100vh; */
}

.sidebar.active {
    border-right: 1px solid #dfdfdf;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-item {
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.sidebar .sidebar-item.active {
    background-color: #ffdb88;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.sidebar-item:hover {
    background-color: #dfdfdf;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.blink-menu-icon {
    width: 24px;
}

.menu-content {
    padding-left: 12px;
}

.menu-text {
    margin-left: 20px;
    font-size: 18px;
}

@media (max-width: 780px) {
    .sidebar {
        position: absolute;
        height: 100vh;
    }
    .note-list-display-name {
        padding-left: 18px;
    }

    .notes-list-all {
        margin-left: 74px;
    }

    .take-note-container {
        width: 56vw !important;
    }
    .take-note-container.container-active {
        padding: 8px;
    }

    .note-list-all-container {
        height: 85vh;
        padding-left: unset;
    }

    .h-20rem {
        height: 10rem !important;
    }

    .h-34rem {
        height: 20rem !important;
    }

    .add-tools-icon {
        width: 16px;
    }


}